USE [master]
GO
/****** Object:  Database [Torneio]    Script Date: 12/06/2019 23:11:02 ******/
CREATE DATABASE [Torneio]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Torneio', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Torneio.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Torneio_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Torneio_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Torneio].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Torneio]
GO
USE [Torneio]
GO
/****** Object:  Table [dbo].[Escalacoes]    Script Date: 12/06/2019 23:11:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Escalacoes](
	[IDTime] [int] NOT NULL,
	[IDPartida] [int] NOT NULL,
	[IDJogador] [int] NOT NULL,
	[Titular] [bit] NOT NULL,
	[Posicao] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Escalacoes] PRIMARY KEY CLUSTERED 
(
	[IDTime] ASC,
	[IDPartida] ASC,
	[IDJogador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Jogadores]    Script Date: 12/06/2019 23:11:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jogadores](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](100) NOT NULL,
	[Idade] [int] NOT NULL,
	[Nacionalidade] [varchar](50) NOT NULL,
	[DataNascimento] [date] NOT NULL,
	[IDTime] [int] NOT NULL,
 CONSTRAINT [PK_Jogadores] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Partidas]    Script Date: 12/06/2019 23:11:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partidas](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDTorneio] [int] NOT NULL,
	[IDTime1] [int] NOT NULL,
	[IDTime2] [int] NOT NULL,
	[Rodada] [int] NOT NULL,
	[PlacarTime1] [int] NOT NULL,
	[PlacarTime2] [int] NOT NULL,
	[DataHora] [datetime] NOT NULL,
 CONSTRAINT [PK_Partidas] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Times]    Script Date: 12/06/2019 23:11:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Times](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](100) NOT NULL,
	[Emblema] [varchar](255) NULL,
	[Sigla] [varchar](3) NULL,
 CONSTRAINT [PK_Times] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Torneios]    Script Date: 12/06/2019 23:11:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Torneios](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](100) NOT NULL,
	[Premiacao] [varchar](max) NOT NULL,
	[Ano] [int] NOT NULL,
	[Realizador] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Torneios] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Torneios_Times]    Script Date: 12/06/2019 23:11:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Torneios_Times](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDTorneio] [int] NOT NULL,
	[IDTime] [int] NOT NULL,
 CONSTRAINT [PK_Torneios_Times_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 12/06/2019 23:11:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Senha] [varchar](50) NOT NULL,
	[Tipo] [varchar](50) NOT NULL,
	[Ativo] [varchar](2) NULL,
	[Nome] [varchar](100) NULL,
	[Sobrenome] [varchar](100) NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuarios_times]    Script Date: 12/06/2019 23:11:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios_times](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDUsuario] [int] NOT NULL,
	[IDTime] [int] NOT NULL,
 CONSTRAINT [PK_usuarios_times_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuarios_torneios]    Script Date: 12/06/2019 23:11:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios_torneios](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDUsuario] [int] NOT NULL,
	[IDTorneio] [int] NOT NULL,
 CONSTRAINT [PK_usuarios_torneios_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Escalacoes]  WITH CHECK ADD  CONSTRAINT [FK_Escalacoes_Jogadores] FOREIGN KEY([IDTime])
REFERENCES [dbo].[Jogadores] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Escalacoes] CHECK CONSTRAINT [FK_Escalacoes_Jogadores]
GO
ALTER TABLE [dbo].[Escalacoes]  WITH CHECK ADD  CONSTRAINT [FK_Escalacoes_Partidas] FOREIGN KEY([IDPartida])
REFERENCES [dbo].[Partidas] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Escalacoes] CHECK CONSTRAINT [FK_Escalacoes_Partidas]
GO
ALTER TABLE [dbo].[Escalacoes]  WITH CHECK ADD  CONSTRAINT [FK_Escalacoes_Times] FOREIGN KEY([IDTime])
REFERENCES [dbo].[Times] ([ID])
GO
ALTER TABLE [dbo].[Escalacoes] CHECK CONSTRAINT [FK_Escalacoes_Times]
GO
ALTER TABLE [dbo].[Jogadores]  WITH CHECK ADD  CONSTRAINT [FK_Jogadores_Times] FOREIGN KEY([IDTime])
REFERENCES [dbo].[Times] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Jogadores] CHECK CONSTRAINT [FK_Jogadores_Times]
GO
ALTER TABLE [dbo].[Partidas]  WITH CHECK ADD  CONSTRAINT [FK_Partidas_Times] FOREIGN KEY([IDTime1])
REFERENCES [dbo].[Times] ([ID])
GO
ALTER TABLE [dbo].[Partidas] CHECK CONSTRAINT [FK_Partidas_Times]
GO
ALTER TABLE [dbo].[Partidas]  WITH CHECK ADD  CONSTRAINT [FK_Partidas_Times1] FOREIGN KEY([IDTime2])
REFERENCES [dbo].[Times] ([ID])
GO
ALTER TABLE [dbo].[Partidas] CHECK CONSTRAINT [FK_Partidas_Times1]
GO
ALTER TABLE [dbo].[Partidas]  WITH CHECK ADD  CONSTRAINT [FK_Partidas_Torneios] FOREIGN KEY([IDTorneio])
REFERENCES [dbo].[Torneios] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Partidas] CHECK CONSTRAINT [FK_Partidas_Torneios]
GO
ALTER TABLE [dbo].[Torneios_Times]  WITH CHECK ADD  CONSTRAINT [FK_Torneios_Times_Times] FOREIGN KEY([IDTime])
REFERENCES [dbo].[Times] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Torneios_Times] CHECK CONSTRAINT [FK_Torneios_Times_Times]
GO
ALTER TABLE [dbo].[Torneios_Times]  WITH CHECK ADD  CONSTRAINT [FK_Torneios_Times_Torneios] FOREIGN KEY([IDTorneio])
REFERENCES [dbo].[Torneios] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Torneios_Times] CHECK CONSTRAINT [FK_Torneios_Times_Torneios]
GO
ALTER TABLE [dbo].[usuarios_times]  WITH CHECK ADD  CONSTRAINT [FK_usuarios_times_Times] FOREIGN KEY([IDTime])
REFERENCES [dbo].[Times] ([ID])
GO
ALTER TABLE [dbo].[usuarios_times] CHECK CONSTRAINT [FK_usuarios_times_Times]
GO
ALTER TABLE [dbo].[usuarios_times]  WITH CHECK ADD  CONSTRAINT [FK_usuarios_times_Usuarios] FOREIGN KEY([IDUsuario])
REFERENCES [dbo].[Usuarios] ([ID])
GO
ALTER TABLE [dbo].[usuarios_times] CHECK CONSTRAINT [FK_usuarios_times_Usuarios]
GO
ALTER TABLE [dbo].[usuarios_torneios]  WITH CHECK ADD  CONSTRAINT [FK_usuarios_torneios_Torneios] FOREIGN KEY([IDTorneio])
REFERENCES [dbo].[Torneios] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[usuarios_torneios] CHECK CONSTRAINT [FK_usuarios_torneios_Torneios]
GO
ALTER TABLE [dbo].[usuarios_torneios]  WITH CHECK ADD  CONSTRAINT [FK_usuarios_torneios_Usuarios] FOREIGN KEY([IDUsuario])
REFERENCES [dbo].[Usuarios] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[usuarios_torneios] CHECK CONSTRAINT [FK_usuarios_torneios_Usuarios]
GO
USE [master]
GO
